main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #DEB0A2;
 
}

header {
    display: grid;
    grid-template-columns: 25% 75%;
    font-size: 32px;
    font-family:serif;
    height: 100px;
    background-color: #E7DAF7;
}



header nav {

display:flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}

header a {
    margin: 0px 30px 0px 30px;
    background-color: #87EDE7;
    text-decoration: none;
}


footer {
    display: grid;
    grid-template-columns: 25% 75%;
    font-size: 32px;
    font-family:serif;
    height: 100px;
    background-color: #E7DAF7;
}

footer nav {

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }

footer a {
    margin: 0px 30px 0px 30px;
    background-color: #87EDE7;
    text-decoration: none;
}

.headshot {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;

}

/* 

Color pallete
#97F0C6     light green
#F5ED9A     yellow
#DEB0A2     brown
#E7DAF7     purple
#87EDE7     teal 
*/

